<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <th:block th:include="layout/header"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/about_us.css}"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: teal;">

<div class="about-section">
    <img th:src="@{/images/about_us_2.jpg}" alt="about_us" style="width:100%">
    <h1>About The Sporting Blog</h1>
    <p>The Sporting Blog is a sports website for followers of all sports and games to read and watch interesting stuff. We are aiming to be the biggest publisher of evergreen sports content on the web. </p>

</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img th:src="@{/images/p1.jpg}" alt="John"  class="center-block" width="400" height="400">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img th:src="@{/images/p2.jpg}" alt="Mike"  class="center-block" width="400" height="400">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img th:src="@{/images/p3.jpg}" alt="John"  class="center-block" width="400" height="400">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>