<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>


    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body style="background-color: teal;">
<!-- <form th:action="@{/registration}" method="get">
<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form> -->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <img th:src="@{/images/login.jpg}"
                     class="img-responsive center-block" width="200" height="200"
                     alt="Logo"/>
                <div class="card-body">
                    <form th:action="@{/login}" method="POST">
                        <div class="form-label-group">
                            <span>Email address</span> <br/> <input type="text" id="email"
                                                                    style="margin-top: 5px" name="email"
                                                                    th:placeholder="Email"
                                                                    class="form-control"/> <br/>

                        </div>

                        <div class="form-label-group" style="margin-top: -6px">
                            <span>Password</span> <br/> <input type="password"
                                                               style="margin-top: 5px" th:placeholder="Password"
                                                               id="password"
                                                               name="password" class="form-control"/> <br/>
                        </div>

                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20; color: #FF1C19;">Email or Password
                                invalid, please verify</p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" name="Submit"
                                value="Login" type="Submit" th:text="Login"></button>
                        <br/> <span>Are you new here?</span> <a
                            th:href="${'/registration'}"
                            style="width: 300px; margin-top: -50px">Registration</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>